@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Raleway:wght@300&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

.logo {
  height: 10rem;
  border: 1px solid black;
}

.contactWrapper {
  color: white;
  position: fixed;
  top: 5rem;
  left: 10%;
  width: 80%;
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, .9);
  border-radius: 2rem;
  z-index: 1;
  max-width: 45rem;
  max-height: 75rem;
}

.contactImage {
  width: 4vh;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.contactImage:hover{
  cursor: pointer;
}

.contactImage:active {
  transform: translateY(5px);
}

.contactText {
  font-size: 1rem;
  font-weight: bold;
  text-decoration: overline;
}
